 div {
    width: 400px;
    height: 200px;
    background-color: yellowgreen;
    border-radius: 50px;
    border: 20px groove tomato;
    background-image: url("img/panda.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}